@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/aircruiser');

body{
    font-family: 'Aircruiser', sans-serif;
    background-image: url(./assets/Bg.svg);
    background-size: cover;
}

.Aircruiser{
    font-family: 'Aircruiser', sans-serif;
}
.Aircruiser3d{
    font-family: 'Aircruiser 3D', sans-serif;
}
.Aircruiserlaser{
    font-family: 'Aircruiser Laser', sans-serif;
}


@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-slowly {
    animation: rotate 20s linear infinite;
  }
  
  .rotate-slowly2 {
    animation: rotate 50s linear infinite;
  }
  


  .absolute-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  /* Custom CSS for text with a stroke */
.text-stroke {
  -webkit-text-stroke: 1px #ffffff; /* Stroke width and color for WebKit browsers */
  text-stroke: 1px #ffffff; /* Stroke width and color for non-WebKit browsers */
  color: transparent; /* Make the text transparent to show only the stroke */
}





.vibrate-22 {
	-webkit-animation: vibrate-2 0.5s linear infinite both;
	        animation: vibrate-2 0.5s linear infinite both;
}
.vibrate-2 {
	-webkit-animation: vibrate-2 0.3s linear infinite both;
	        animation: vibrate-2 0.3s linear infinite both;
}


 @-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
