@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/aircruiser');

body{
    font-family: 'Aircruiser', sans-serif;
    background-image: url(./assets/Bg.svg);
    background-size: cover;
}

.Aircruiser{
    font-family: 'Aircruiser', sans-serif;
}
.Aircruiser3d{
    font-family: 'Aircruiser 3D', sans-serif;
}
.Aircruiserlaser{
    font-family: 'Aircruiser Laser', sans-serif;
}


@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-slowly {
    animation: rotate 20s linear infinite;
  }
  
  .rotate-slowly2 {
    animation: rotate 50s linear infinite;
  }
  


  .absolute-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  /* Custom CSS for text with a stroke */
.text-stroke {
  -webkit-text-stroke: 1px #000; /* Stroke width and color for WebKit browsers */
  text-stroke: 1px #000; /* Stroke width and color for non-WebKit browsers */
  color: transparent; /* Make the text transparent to show only the stroke */
}
